.GameBoard {
	display: flex;
	> div {
		justify-content: space-evenly;
		flex-direction: column;
		padding: 0px 50px;
		margin: 0 auto;
		display: flex;
		width: 70%;

		&.ComputerSide {
			border-right: 1px solid red;
		}

		&.PlayerSide {
			border-left: 1px solid red;
		}

		.Menu {
			background-color: $PrimaryColour;
			border-radius: 5px;
			color: white;
		}
	}
}

.StatusBoard {
	background-color: $PrimaryColour;
	margin: 0 auto 20px;
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
	width: 50%;
	p {
		margin: 0px;
	}
}

@media only screen and (max-width: 600px) {
	.GameBoard {
		flex-direction: column;

		> div {
			border: none !important;
			align-items: center;
			padding: 0px;
			padding-top: 20px;
			margin: 0px;
			width: 100%;

			.Menu {
				.MuiCardContent-root {
					padding: 5px;
					p {
						font-size: 0.8em;
					}
				}
			}

			.card {
				height: 200px;
				margin: 10px;
				width: 150px;
			}
		}

		.ComputerSide {
			padding: 0px;
			.card {
				display: none;
			}
		}

		.PlayerSide {
			flex-direction: column-reverse;
			.card {
				margin-bottom: 40px;
				height: 400px;
				width: 250px;
			}
		}
	}

	.StatusBoard {
		font-size: 0.8em;
		width: 100%;
	}
}
