html,
body,
:root {
	font-family: "JetBrains Mono", monospace;
	background-color: whitesmoke;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	margin: 0px;
}

* {
	box-sizing: border-box;
}

.container {
	margin: 0;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

body > div {
	padding: 2em;
}

body > div,
#root > div {
	overflow: hidden;
	height: 100%;
	width: 100%;

	h2 {
		padding: 2em 0px;
	}
}
